In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets as ds
import tensorflow as tf
import seaborn as sns

In [8]:
x, y = ds.make_classification(5, n_features=2, n_classes=2, n_clusters_per_class=1, n_redundant=0)

In [10]:
x, y

(array([[-0.03853494,  1.45401326],
        [ 0.52818218,  1.46759518],
        [ 1.33311171, -0.56877788],
        [ 0.36086185,  1.00196416],
        [ 1.9170326 , -3.21928859]]), array([0, 0, 1, 0, 1]))

In [18]:
np.shape(x), np.shape(y)

((5, 2), (5,))

In [21]:
xx = np.column_stack((x,y))
xx

array([[-0.03853494,  1.45401326,  0.        ],
       [ 0.52818218,  1.46759518,  0.        ],
       [ 1.33311171, -0.56877788,  1.        ],
       [ 0.36086185,  1.00196416,  0.        ],
       [ 1.9170326 , -3.21928859,  1.        ]])

In [25]:
dd = pd.DataFrame(xx, columns=['x1', 'x2', 'y'])
dd

         x1        x2    y
0 -0.038535  1.454013  0.0
1  0.528182  1.467595  0.0
2  1.333112 -0.568778  1.0
3  0.360862  1.001964  0.0
4  1.917033 -3.219289  1.0

In [29]:
dx = dd.columns.tolist()
dx

['x1', 'x2', 'y']

In [33]:
x1 = np.random.randn(100, 1)
x2 = np.random.randn(100, 1)
np.shape(x1), np.shape(x2)

((100, 1), (100, 1))

In [38]:
zz = np.column_stack((x1,x2))

In [39]:
np. x1 == x2

array([[False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False],
       [False]])